@model  WebCIIPMaestrosERP.Models.MktDocenteCursoCLS


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("AddDocenteSeguimiento", "DocenteSeguimiento", FormMethod.Post))
{ 

    <div>

        

    </div>

}