
@{
    ViewBag.Title = "Index";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Dashboard Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="../Content/bootstrap.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">




                        google.charts.load('current');   // Don't need to specify chart libraries!
                        google.charts.setOnLoadCallback(drawVisualization);





                        function drawVisualization() {
                            var wrapper = new google.visualization.ChartWrapper({
                                chartType: 'ColumnChart',
                                dataTable: [['', 'Germany', 'USA', 'Brazil', 'Canada', 'France', 'RU'],
                                ['', 700, 300, 400, 500, 600, 800]],
                                options: { 'title': 'Countries' },
                                containerId: 'vis_div'
                            });
                            wrapper.draw();
                        }

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);


                        function drawChart() {

                            var data = google.visualization.arrayToDataTable([
                                ['Task', 'Hours per Day'],
                                ['Work', 11],
                                ['Eat', 2],
                                ['Commute', 2],
                                ['Watch TV', 2],
                                ['Sleep', 7]
                            ]);

                            var options = {
                                title: 'My Daily Activities'
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                            chart.draw(data, options);
                        }



                google.charts.load('current', { packages: ['corechart', 'line'] });
                google.charts.setOnLoadCallback(drawCurveTypes);

                function drawCurveTypes() {
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'X');
                    data.addColumn('number', 'Dogs');
                    data.addColumn('number', 'Cats');

                    data.addRows([
                        [0, 0, 0], [1, 10, 5], [2, 23, 15], [3, 17, 9], [4, 18, 10], [5, 9, 5],
                        [6, 11, 3], [7, 27, 19], [8, 33, 25], [9, 40, 32], [10, 32, 24], [11, 35, 27],
                        [12, 30, 22], [13, 40, 32], [14, 42, 34], [15, 47, 39], [16, 44, 36], [17, 48, 40],
                        [18, 52, 44], [19, 54, 46], [20, 42, 34], [21, 55, 47], [22, 56, 48], [23, 57, 49],
                        [24, 60, 52], [25, 50, 42], [26, 52, 44], [27, 51, 43], [28, 49, 41], [29, 53, 45],
                        [30, 55, 47], [31, 60, 52], [32, 61, 53], [33, 59, 51], [34, 62, 54], [35, 65, 57],
                        [36, 62, 54], [37, 58, 50], [38, 55, 47], [39, 61, 53], [40, 64, 56], [41, 65, 57],
                        [42, 63, 55], [43, 66, 58], [44, 67, 59], [45, 69, 61], [46, 69, 61], [47, 70, 62],
                        [48, 72, 64], [49, 68, 60], [50, 66, 58], [51, 65, 57], [52, 67, 59], [53, 70, 62],
                        [54, 71, 63], [55, 72, 64], [56, 73, 65], [57, 75, 67], [58, 70, 62], [59, 68, 60],
                        [60, 64, 56], [61, 60, 52], [62, 65, 57], [63, 67, 59], [64, 68, 60], [65, 69, 61],
                        [66, 70, 62], [67, 72, 64], [68, 75, 67], [69, 80, 72]
                    ]);

                    var options = {
                        hAxis: {
                            title: 'Time'
                        },
                        vAxis: {
                            title: 'Popularity'
                        },
                        series: {
                            1: { curveType: 'function' }
                        }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }

    

    </script>

    <!-- Custom styles for this template -->
    <link href="../css/dashboard.css" rel="stylesheet">
</head>
<body style="font-family: Arial;border: 0 none;">
       

        <div class="panel panel-success">
            <div class="panel-heading">
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        
                        <td><h1 class="h2">Dashboard</h1></td>
                    </tr>
                </table>
                
                <form class="navbar-form navbar-left">
                    <p></p>


                    <div class="row">
                        <p></p>
                        <div class="form-group col-lg-6">
                            <p class="card-text"><div id="vis_div" style="width: 500px; height: 300px;"></div></p>
                        </div>
                        <div class="form-group col-lg-6">
                            <div id="piechart" style="width: 600px; height: 300px;"></div>
                        </div>
                    </div>
                    





                </form>
                </div>
            </div>
            <div class="panel-body">

            </div>

            <div class="container-fluid">
                <div class="row ">


                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

                            <div class="btn-toolbar mb-2 mb-md-0">
                                <!--
                                <div class="btn-group mr-2">

                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                            </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>-->
                            </div>

                        <canvas align="center" class="my-4 w-100" id="myChart" width="1000" height="180"></canvas>

                        
                        <div class="table-responsive">

                        </div>
                    </main>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
            <script src="../assets/dist/js/bootstrap.bundle.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
            <script src="../js/dashboard.js"></script>
    </body>
    </html>

    